appdirs==1.4.4
backports.entry-points-selectable==1.1.1
certifi==2022.6.15
chardet==4.0.0
charset-normalizer~=2.0.0; python_version >= "3"
colorama==0.4.5
distlib==0.3.4
filelock==3.6.0
html2text==2020.1.16
idna==3.3
IMAPClient==2.2.0
packaging==21.3
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
requests==2.27.1
simplejson==3.17.6
six==1.16.0
toml==0.10.2
tox==4.0.12
urllib3==1.26.9
virtualenv==20.17.1
