appdirs==1.4.4
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
colorama==0.4.4
distlib==0.3.4
filelock==3.4.2
html2text==2020.1.16
idna==3.3
IMAPClient==2.2.0
packaging==21.3
platformdirs==2.5.1
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
requests==2.26.0
simplejson==3.17.6
six==1.16.0
toml==0.10.2
tox==3.24.5
urllib3==1.26.8
virtualenv==20.12.0
