appdirs==1.4.4
backports.entry-points-selectable==1.1.1
certifi==2022.12.7
chardet==5.1.0
charset-normalizer~=2.0.0; python_version >= "3"
colorama==0.4.5
distlib==0.3.6
filelock==3.9.0
html2text==2020.1.16
idna==3.3
IMAPClient==2.3.1
packaging==21.3
platformdirs==3.6.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
requests==2.31.0
simplejson==3.18.3
six==1.16.0
toml==0.10.2
tox==4.4.5
urllib3==1.26.9
virtualenv==20.19.0
