[main]
verbose = true  # Show debug information

[gotify]
host = "https://gotify.example.com"
token = "MySuperToken"

[imap]
hostname = "mail.example.com"
username = "push@example.com"
password = "MyStr0ngPassword"
folder = "INBOX"
# Number of seconds to wait for IDLE notifications
# Default is 5 minutes, IMAP RFC's states never more
# than 29 minutes as a recommendation
# timeout = 300


[rules]
 [rules.duty]
   from = "aaa@bbb.ccc"
   subject = "CRITICAL"
   priority = 10
   [rules.duty.extras.'android::action'.onReceive]
     intentUrl = "https://monitor.example.com"
   [rules.duty.extras.'client::notification'.click]
     url = "https://gotify.net"

 [rules.dutytest]
   subject = "WARNING"
   priority = 7

 [rules.urlwatch]
   subject = "[urlwatch]"
   priority = 3
   token = "MyOtherToken"
